.item-row {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background: #bee684;
    padding: 10px 0px;
}


.item-row-more {
    border: 1px solid black;
    border-radius: 10px;
    background: #bee684;
}

.turn-on {
    color: green;
}

.recomended-wrapper {
    display: flex;
    padding: 0px 10px;
}

.recomended-item {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 15px;
    width: 25%;
    font-size: 11px;
}

.turn-off {
    color: white;
}

.item-rows-header {
    display: flex;
    padding: 0px 15px;
    /* margin: 0px 5px; */
    border-radius: 4px;
    background: #49d649;
    color: white;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 10px;
    width: 100%;
}

.expanded-wrapper {
    margin: 0px 20px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.expanded-row-item {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 40%;
    justify-content: flex-start;
    align-items: center;

}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: scroll;
}


.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.extra-icon {
    border: 1px solid gray;
    border-radius: 50%;
    padding: 2px;
}

.extra-icons {
    gap: 5px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-row {
    width: 40%;
    padding-left: 20px;
}

.name-row-header {
    width: 40%;
    padding-left: 15px;
}

.turn-red {
    color: red;
}

.amount-row {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::ng-deep.item-native {
    padding: 0px;
}

.item-inner {
    padding: 0px;
}

ion-item {
    --padding-end: 0px !important;
    --inner-padding-end: 0px !important;
    --inner-padding-start: 0px !important;
    --padding-inline-start: 0px !important;
    --padding-start: 0px !important;
    // here other custom CSS from documentation
    --inner-border-width: 0px !important;
    display: flex !important;
    flex-direction: column !important;
}

::ng-deep.input-wrapper {
    display: flex !important;
    flex-direction: column !important;
}